<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:woocommerce/page-content-wrapper {"page":"cart"} -->
<!-- wp:wpbb/bootstrap-div {"tagName":"main","containerClass":"container","anchor":"wp-theme-main","utilityClasses":"wp-theme-woo-page"} -->
<!-- wp:woocommerce/store-notices /-->
<!-- wp:wpbb/row {"gutterX":"gx-4","gutterY":"gy-4"} -->
<!-- wp:wpbb/column {"xs":12} -->
<!-- wp:post-title {"level":1} /-->
<!-- wp:post-content /-->
<!-- /wp:wpbb/column -->
<!-- /wp:wpbb/row -->
<!-- /wp:wpbb/bootstrap-div -->
<!-- /wp:woocommerce/page-content-wrapper -->
<!-- wp:template-part {"slug":"footer"} /-->
